body{
    background: #010909;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Estilos para o menu */
.nav_menu {
    background-color: #002e2b; /* Cor de fundo do menu */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%; /* Ocupar 100% da largura da tela */
    position: fixed; /* Fixar o menu no topo da tela */
    top: 0;
    left: 0;
    z-index: 1000; /* Certificar-se de que o menu esteja na frente de outros elementos */
    box-shadow: 0px 4px 6px #0dd6cc; /* Adicionar sombra com a cor desejada */
}



.shape1 {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -290;
    stroke-width: 5px;
    stroke: #00fffc;
  }

  .svg-wrapper:hover .shape1 {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }



.shape {
    fill: transparent;
    stroke-dasharray: 90 490;
    stroke-dashoffset: -400;
    stroke-width: 8px;
    stroke: #00fffc;
  }

  .svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }

  .svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 80%;
    transform: translateY(-50%);
    width: 320px;
  }

.logo_menu {
    max-height: 100px;
}

.itens_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.itens_menu li {
    margin-right: 50px; /* Espaçamento entre os itens no modo desktop */
}

.link_menu {
    text-decoration: none;
    color: #fff; /* Cor do texto do link */
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -50px;
    margin-left: 50px;
}

.link_menu:hover {
    color: #0dd6cc; /* Cor do texto do link ao passar o mouse */
}

/* Estilos responsivos para celular */
@media (max-width: 768px) {
    .nav_menu {
        flex-direction: column;
        align-items: center;
    }

    .itens_menu {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px; /* Espaçamento entre logo e itens no modo responsivo */
    }

    .itens_menu li {
        margin-right: 0; /* Remover o espaçamento no modo responsivo */
        margin-bottom: 10px; /* Espaçamento entre os itens no modo responsivo */
    }
}

@keyframes draw {
    0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
    }
    100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 5px;
    }
  }